body {
  background-color: #1A2436;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}


.store{
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.store-item{
  max-width:170px;
  padding: 5px;

  & h3{
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #6285BC;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 3px;
  }

  & p{
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #6285BC;
    margin-top: 5px;
    padding-left: 3px;
    margin-bottom: 0;
  }

  & p::after{
      content: " ₽";
  }

  & button{
    background-color: #6285BC;
    border: none;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #041E47;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 5px;
  }
}

img{
    max-width: 100%;
    border-radius: 10px;  
    display: block;
    margin: 0;
    padding: 0;
}
